In [199]:
# import libraries
import datetime
import googlemaps
import itertools
import json
import numpy as np
import pandas as pd
import pymysql
import re
import requests
import string
import swifter
import time
import urllib
from bs4 import BeautifulSoup as bs
from config import gkey
from IPython.display import clear_output
from requests import get
from scipy import stats
from selenium import webdriver
from splinter import Browser
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
from statsmodels.stats.proportion import proportions_ztest
from zodiac_sign import get_zodiac_sign

In [200]:
# Convert Player Data File
player_file = "Resources/player_data.csv"
nba_data = pd.read_csv(player_file)
nba_data.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [201]:
# Select specific columns from NBA player data to create new dataframe
nba_data = nba_data[['name', 'birth_date', 'height']].copy()

# Change the name of the columsn to match database names
nba_data.columns = ['player_name', 'birth_date', 'height']

# Add index as ID
nba_data['id'] = nba_data.index

In [202]:
# Add zodiac sign column to dataframe
nba_data['birth_date'] = pd.to_datetime(nba_data['birth_date'])
nba_data = nba_data.dropna()
nba_data['zodiac'] = nba_data['birth_date'].apply(get_zodiac_sign)
nba_data.head()

           player_name birth_date height  id   zodiac
0       Alaa Abdelnaby 1968-06-24   6-10   0   Cancer
1      Zaid Abdul-Aziz 1946-04-07    6-9   1    Aries
2  Kareem Abdul-Jabbar 1947-04-16    7-2   2    Aries
3   Mahmoud Abdul-Rauf 1969-03-09    6-1   3   Pisces
4    Tariq Abdul-Wahad 1974-11-03    6-6   4  Scorpio

In [203]:
# Create a unique ID for each player
nba_data['unique_id'] = nba_data['player_name']+'_'+(nba_data['birth_date'].astype('str'))
nba_data.head()

,player_name,birth_date,height,id,zodiac,unique_id
0,Alaa Abdelnaby,1968-06-24,6-10,0,Cancer,Alaa Abdelnaby_1968-06-24
1,Zaid Abdul-Aziz,1946-04-07,6-9,1,Aries,Zaid Abdul-Aziz_1946-04-07
2,Kareem Abdul-Jabbar,1947-04-16,7-2,2,Aries,Kareem Abdul-Jabbar_1947-04-16
3,Mahmoud Abdul-Rauf,1969-03-09,6-1,3,Pisces,Mahmoud Abdul-Rauf_1969-03-09
4,Tariq Abdul-Wahad,1974-11-03,6-6,4,Scorpio,Tariq Abdul-Wahad_1974-11-03

In [204]:
df = pd.read_csv("NCCA_Players_Final-1.csv")
df.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,college,dob,height,high_school,link,name,pob,pos,season,...,FTM,GP,GS,MIN,OFF,PF,PTS,STL,TOV,TRB
0,0,Arizona State,19880819,75,Desert Vista High School,/player/Ty-Abbott/Summary/6680,Ty Abbott,Phoenix (AZ),G,2009,...,1.15,130,120.0,30.9,0.62,2.42,10.23,1.02,1.53,3.88
1,3,Arizona State,19880819,75,Desert Vista High School,/player/Ty-Abbott/Summary/6680,Ty Abbott,Phoenix (AZ),G,2010,...,1.15,130,120.0,30.9,0.62,2.42,10.23,1.02,1.53,3.88
2,6,Arizona State,19880819,75,Desert Vista High School,/player/Ty-Abbott/Summary/6680,Ty Abbott,Phoenix (AZ),G,2011,...,1.15,130,120.0,30.9,0.62,2.42,10.23,1.02,1.53,3.88
3,9,UCLA,19880602,74,St. Louis Country Day School,/player/Mustafa-Abdul-Hamid/Summary/6888,Mustafa Abdul-Hamid,St. Louis (MO),G,2009,...,0.08,51,1.0,6.3,0.08,0.45,1.49,0.12,0.43,0.41
4,11,UCLA,19880602,74,St. Louis Country Day School,/player/Mustafa-Abdul-Hamid/Summary/6888,Mustafa Abdul-Hamid,St. Louis (MO),G,2010,...,0.08,51,1.0,6.3,0.08,0.45,1.49,0.12,0.43,0.41

In [206]:
# Drop unnamed index column
df = df.drop(['Unnamed: 0'], axis=1)

In [207]:
df['dob'] = pd.to_datetime(df['dob'], format='%Y%m%d')
df.head()

,college,dob,height,high_school,link,name,pob,pos,season,tenure,...,FTM,GP,GS,MIN,OFF,PF,PTS,STL,TOV,TRB
0,Arizona State,1988-08-19,75,Desert Vista High School,/player/Ty-Abbott/Summary/6680,Ty Abbott,Phoenix (AZ),G,2009,4.0,...,1.15,130,120.0,30.9,0.62,2.42,10.23,1.02,1.53,3.88
1,Arizona State,1988-08-19,75,Desert Vista High School,/player/Ty-Abbott/Summary/6680,Ty Abbott,Phoenix (AZ),G,2010,6.0,...,1.15,130,120.0,30.9,0.62,2.42,10.23,1.02,1.53,3.88
2,Arizona State,1988-08-19,75,Desert Vista High School,/player/Ty-Abbott/Summary/6680,Ty Abbott,Phoenix (AZ),G,2011,8.0,...,1.15,130,120.0,30.9,0.62,2.42,10.23,1.02,1.53,3.88
3,UCLA,1988-06-02,74,St. Louis Country Day School,/player/Mustafa-Abdul-Hamid/Summary/6888,Mustafa Abdul-Hamid,St. Louis (MO),G,2009,5.0,...,0.08,51,1.0,6.3,0.08,0.45,1.49,0.12,0.43,0.41
4,UCLA,1988-06-02,74,St. Louis Country Day School,/player/Mustafa-Abdul-Hamid/Summary/6888,Mustafa Abdul-Hamid,St. Louis (MO),G,2010,6.0,...,0.08,51,1.0,6.3,0.08,0.45,1.49,0.12,0.43,0.41

In [208]:
df['zodiac'] = df['dob'].apply(get_zodiac_sign)

In [209]:
# Create a unique ID for each player
df['unique_id'] = df['name']+'_'+(df['dob'].astype('str'))
df = df.drop_duplicates()
df.head()

,college,dob,height,high_school,link,name,pob,pos,season,tenure,...,GS,MIN,OFF,PF,PTS,STL,TOV,TRB,zodiac,unique_id
0,Arizona State,1988-08-19,75,Desert Vista High School,/player/Ty-Abbott/Summary/6680,Ty Abbott,Phoenix (AZ),G,2009,4.0,...,120.0,30.9,0.62,2.42,10.23,1.02,1.53,3.88,Leo,Ty Abbott_1988-08-19
1,Arizona State,1988-08-19,75,Desert Vista High School,/player/Ty-Abbott/Summary/6680,Ty Abbott,Phoenix (AZ),G,2010,6.0,...,120.0,30.9,0.62,2.42,10.23,1.02,1.53,3.88,Leo,Ty Abbott_1988-08-19
2,Arizona State,1988-08-19,75,Desert Vista High School,/player/Ty-Abbott/Summary/6680,Ty Abbott,Phoenix (AZ),G,2011,8.0,...,120.0,30.9,0.62,2.42,10.23,1.02,1.53,3.88,Leo,Ty Abbott_1988-08-19
3,UCLA,1988-06-02,74,St. Louis Country Day School,/player/Mustafa-Abdul-Hamid/Summary/6888,Mustafa Abdul-Hamid,St. Louis (MO),G,2009,5.0,...,1.0,6.3,0.08,0.45,1.49,0.12,0.43,0.41,Gemini,Mustafa Abdul-Hamid_1988-06-02
4,UCLA,1988-06-02,74,St. Louis Country Day School,/player/Mustafa-Abdul-Hamid/Summary/6888,Mustafa Abdul-Hamid,St. Louis (MO),G,2010,6.0,...,1.0,6.3,0.08,0.45,1.49,0.12,0.43,0.41,Gemini,Mustafa Abdul-Hamid_1988-06-02

In [213]:
nba_player_ids = nba_data['unique_id']

In [214]:
overlap = df.loc[df['unique_id'].isin(nba_player_ids)]
len(overlap)

1390

In [215]:
undrafted = df.loc[~df['unique_id'].isin(nba_player_ids)]
len(undrafted)

50289

In [216]:
undrafted = undrafted.sort_values('season', ascending=False).drop_duplicates('unique_id',keep='first').sort_index()

In [217]:
undrafted['drafted'] = 0

In [218]:
undrafted.head()

,college,dob,height,high_school,link,name,pob,pos,season,tenure,...,MIN,OFF,PF,PTS,STL,TOV,TRB,zodiac,unique_id,drafted
2,Arizona State,1988-08-19,75,Desert Vista High School,/player/Ty-Abbott/Summary/6680,Ty Abbott,Phoenix (AZ),G,2011,8.0,...,30.9,0.62,2.42,10.23,1.02,1.53,3.88,Leo,Ty Abbott_1988-08-19,0
4,UCLA,1988-06-02,74,St. Louis Country Day School,/player/Mustafa-Abdul-Hamid/Summary/6888,Mustafa Abdul-Hamid,St. Louis (MO),G,2010,6.0,...,6.3,0.08,0.45,1.49,0.12,0.43,0.41,Gemini,Mustafa Abdul-Hamid_1988-06-02,0
5,Mercer,1940-01-01,69,NaN,/player/Larney-Abdush-Shakur/Summary/14491,Larney Abdush-Shakur,Austell (GA),PG,2009,4.0,...,2.1,0.07,0.21,0.36,0.21,0.14,0.29,Capricorn,Larney Abdush-Shakur_1940-01-01,0
8,Sacred Heart,1940-01-01,77,Marianapolis Preparatory School,/player/Toso-Abedamowo/Summary/20808,Toso Abedamowo,Lincoln (RI),G,2011,6.0,...,2.3,0.00,0.17,0.67,0.33,0.17,0.17,Capricorn,Toso Abedamowo_1940-01-01,0
11,Texas Southern,1987-03-04,79,Creative Mind Foundation,/player/Onyekautukwu-Abiakam/Summary/15292,Onyekautukwu Abiakam,Lagos,F,2011,7.0,...,14.1,1.05,1.83,2.93,0.31,0.66,3.22,Pisces,Onyekautukwu Abiakam_1987-03-04,0

In [219]:
overlap.head()

,college,dob,height,high_school,link,name,pob,pos,season,tenure,...,GS,MIN,OFF,PF,PTS,STL,TOV,TRB,zodiac,unique_id
37,Baylor,1990-10-06,79,John Horn High School,/player/Quincy-Acy/Summary/4130,Quincy Acy,Tyler (TX),F,2009,2.0,...,16.0,1.73,2.58,0.65,NaN,0.40,4.87,0.64,Libra,Quincy Acy_1990-10-06
38,Baylor,1990-10-06,79,John Horn High School,/player/Quincy-Acy/Summary/4130,Quincy Acy,Tyler (TX),F,2010,4.0,...,16.0,1.73,2.58,0.65,NaN,0.40,4.87,0.64,Libra,Quincy Acy_1990-10-06
39,Baylor,1990-10-06,79,John Horn High School,/player/Quincy-Acy/Summary/4130,Quincy Acy,Tyler (TX),F,2011,6.0,...,16.0,1.73,2.58,0.65,NaN,0.40,4.87,0.64,Libra,Quincy Acy_1990-10-06
40,Baylor,1990-10-06,79,John Horn High School,/player/Quincy-Acy/Summary/4130,Quincy Acy,Tyler (TX),F,2012,8.0,...,16.0,1.73,2.58,0.65,NaN,0.40,4.87,0.64,Libra,Quincy Acy_1990-10-06
75,Connecticut,1986-02-10,79,Brewster Academy,/player/Jeff-Adrien/Summary/1641,Jeff Adrien,Brookline (MA),SF,2009,8.0,...,14.0,1.73,2.86,0.59,NaN,0.52,4.63,0.65,Aquarius,Jeff Adrien_1986-02-10

In [220]:
overlap = overlap.drop(["3P%","3PA","3PM","AST","BLK","DEF","FG%","FGA",
               "FGM","FTA","FTM","GP","GS","MIN","OFF","PF","PTS","STL","TOV","TRB", 'FT%'], axis=1)

In [221]:
ncaa_nba_converts = pd.read_csv("NBA_Converts_Stats.csv")

In [222]:
ncaa_nba_converts

,3P%,3PA,3PM,AST,BLK,DEF,FG%,FGA,FGM,FT%,...,GS,MIN,OFF,PF,PTS,STL,TOV,TRB,name,unique_id
0,0.324,2.7,0.9,0.9,0.7,3.8,0.455,10.2,4.7,0.761,...,56.0,27.9,2.5,2.7,13.8,0.6,1.6,6.3,Ben Bentil,Ben Bentil_1995-03-29
1,0.265,1.4,0.4,5.2,0.4,4.8,0.425,4.3,1.8,0.617,...,129.0,30.9,0.7,2.3,5.8,1.5,1.9,5.5,Julyan Stone,Julyan Stone_1988-12-07
2,0.412,5.4,2.2,7.6,0.8,5.1,0.551,9.5,5.3,0.673,...,36.0,35.1,0.9,1.8,14.6,1.8,2.5,6.0,Lonzo Ball,Lonzo Ball_1997-10-27
3,0.359,4.7,1.7,1.7,0.2,2.3,0.377,6.2,2.3,0.733,...,90.0,26.5,0.7,1.1,7.2,0.8,0.8,3.0,Chris Babb,Chris Babb_1990-02-14
4,0.071,0.2,0.0,1.2,3.4,6.1,0.518,10.8,5.6,0.669,...,65.0,33.8,2.7,2.4,14.0,0.8,2.8,8.8,Jordan Mickey,Jordan Mickey_1994-07-09
5,NaN,0.0,0.0,0.8,1.4,5.1,0.578,8.8,5.1,0.636,...,79.0,27.0,2.8,2.7,12.5,0.5,2.0,7.9,Jordan Hill,Jordan Hill_1987-07-27
6,0.372,4.0,1.5,1.9,0.2,3.3,0.443,12.5,5.5,0.734,...,109.0,29.0,0.8,2.1,15.8,0.8,3.0,4.2,Kevin Murphy,Kevin Murphy_1990-03-06
7,0.000,0.0,0.0,1.0,2.1,5.4,0.611,8.1,5.0,0.629,...,35.0,27.5,3.0,2.6,12.4,0.9,2.5,8.4,Derrick Favors,Derrick Favors_1991-07-15
8,0.331,4.3,1.4,2.1,0.2,3.3,0.467,11.6,5.4,0.839,...,63.0,30.2,1.3,2.1,16.4,2.4,1.4,4.6,Jordan Adams,Jordan Adams_1994-07-08
9,0.387,4.2,1.6,1.5,0.2,4.0,0.471,11.6,5.4,0.813,...,33.0,29.8,1.3,2.2,15.6,0.9,1.7,5.3,Malik Beasley,Malik Beasley_1996-11-26
10,0.000,0.0,0.0,0.3,1.0,3.1,0.483,3.8,1.9,0.745,...,45.0,17.3,1.7,1.8,5.2,0.3,0.6,4.7,Marcus Cousin,Marcus Cousin_1986-12-18
11,0.363,5.3,1.9,4.0,0.2,2.7,0.401,11.7,4.7,0.845,...,125.0,34.5,0.8,2.7,16.6,1.3,2.8,3.5,Malcolm Delaney,Malcolm Delaney_1989-03-11
12,0.394,4.3,1.7,1.4,0.2,2.4,0.420,8.7,3.7,0.727,...,106.0,24.2,0.7,1.8,11.1,1.1,1.7,3.0,Kim English,Kim English_1988-09-24
13,0.118,0.1,0.0,1.4,0.8,2.2,0.479,3.7,1.8,0.654,...,34.0,15.1,0.9,1.7,4.9,0.3,1.3,3.2,Henry Sims,Henry Sims_1990-03-27
14,0.353,4.1,1.4,1.3,0.6,3.1,0.439,8.3,3.6,0.727,...,98.0,27.6,1.3,2.4,11.2,1.0,2.2,4.4,DaJuan Summers,DaJuan Summers_1988-01-24
15,0.299,3.6,1.1,2.9,0.6,4.8,0.471,12.0,5.7,0.733,...,59.0,32.9,1.7,2.2,15.2,1.5,2.3,6.5,Will Barton,Will Barton_1991-01-06
16,0.100,0.2,0.0,0.4,0.1,NaN,0.426,2.7,1.1,0.522,...,NaN,NaN,NaN,0.5,2.8,0.6,NaN,2.0,Reggie Bullock,Reggie Bullock_1991-03-16
17,0.362,3.6,1.3,2.2,0.0,1.8,0.373,7.4,2.8,0.757,...,11.0,20.4,0.4,1.7,7.9,0.8,2.0,2.2,Josh Selby,Josh Selby_1991-03-27
18,0.000,0.0,0.0,1.3,1.3,4.5,0.600,4.8,2.9,0.622,...,110.0,21.7,2.1,2.3,7.2,0.8,1.6,6.6,Daniel Ochefu,Daniel Ochefu_1993-12-15
19,0.378,3.3,1.3,2.3,0.3,3.3,0.470,9.1,4.3,0.759,...,98.0,27.6,1.4,1.8,12.6,0.5,1.9,4.6,Jamel Artis,Jamel Artis_1993-01-12
20,0.250,0.0,0.0,0.7,1.4,3.2,0.504,6.0,3.0,0.735,...,111.0,21.7,1.8,2.3,9.3,0.5,1.6,5.0,Robert Sacre,Robert Sacre_1989-06-06
21,0.278,3.0,0.8,3.6,0.8,2.9,0.371,5.9,2.2,0.783,...,131.0,33.1,0.8,2.6,6.7,1.4,2.2,3.7,Garrett Temple,Garrett Temple_1986-05-08
22,0.382,6.7,2.5,1.8,0.3,3.5,0.455,15.6,7.1,0.771,...,65.0,32.7,2.0,2.0,20.4,1.5,2.0,5.5,Marcus Thornton,Marcus Thornton_1987-06-05
23,0.426,6.1,2.6,2.2,0.5,3.5,0.438,11.3,4.9,0.821,...,132.0,35.5,1.0,2.5,15.0,1.3,1.2,4.5,Langston Galloway,Langston Galloway_1991-12-09
24,0.125,0.1,0.0,0.7,1.7,4.3,0.566,9.1,5.1,0.565,...,95.0,27.1,2.1,3.0,13.3,0.4,2.0,6.4,Damian Jones,Damian Jones_1995-06-30
25,0.308,2.0,0.6,1.4,0.7,4.6,0.494,10.1,5.0,0.689,...,57.0,30.7,2.4,2.6,13.7,1.0,2.2,6.9,Jarell Martin,Jarell Martin_1994-05-24
26,0.431,4.6,2.0,3.2,0.0,NaN,0.418,7.7,3.2,0.813,...,NaN,NaN,NaN,NaN,11.1,1.3,NaN,3.2,Derrick Williams,Derrick Williams_1991-05-25
27,0.281,0.7,0.2,1.6,0.4,3.6,0.535,8.4,4.5,0.603,...,89.0,24.5,2.4,2.3,11.2,1.1,1.3,6.0,DeMarre Carroll,DeMarre Carroll_1986-07-27
28,0.383,3.5,1.3,2.9,0.3,2.6,0.462,8.4,3.9,0.667,...,35.0,30.3,0.5,2.2,11.3,1.4,3.0,3.1,Eric Bledsoe,Eric Bledsoe_1989-12-09
29,0.313,2.8,0.9,0.9,1.9,3.0,0.450,8.6,3.9,0.767,...,61.0,24.3,1.8,1.8,11.0,0.9,1.5,4.8,K.J. McDaniels,K.J. McDaniels_1993-02-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,0.275,0.6,0.2,0.8,0.6,3.6,0.496,7.0,3.5,0.658,...,94.0,24.1,2.1,2.3,9.0,0.6,1.6,5.7,Devin Booker,Devin Booker_1996-10-30
514,0.302,1.8,0.5,1.5,0.4,3.9,0.506,7.7,3.9,0.633,...,64.0,21.0,1.6,1.6,10.1,0.3,1.6,5.5,Kyle Kuzma,Kyle Kuzma_1995-07-24
515,0.138,0.8,0.1,1.1,0.4,3.4,0.488,6.7,3.3,0.735,...,21.0,23.0,1.8,1.6,8.7,0.5,1.1,5.2,Trey Lyles,Trey Lyles_1995-11-05
516,NaN,0.0,0.0,0.0,0.9,1.9,0.569,2.1,1.2,0.556,...,1.0,7.5,0.6,1.4,3.0,0.3,0.6,2.5,Cheick Diallo,Cheick Diallo_1996-09-13
517,0.400,3.5,1.4,1.6,1.6,5.4,0.476,8.2,3.9,0.809,...,34.0,33.1,2.0,2.6,11.6,1.1,1.5,7.4,Tyler Lydon,Tyler Lydon_1996-04-09
518,0.238,1.7,0.4,1.4,1.3,6.1,0.476,10.6,5.0,0.687,...,60.0,30.1,3.3,2.8,14.4,1.2,2.9,9.4,Al-Farouq Aminu,Al-Farouq Aminu_1990-09-21
519,0.301,1.8,0.5,5.1,0.2,3.1,0.425,8.9,3.8,0.484,...,91.0,30.3,0.6,1.9,9.2,1.3,2.9,3.7,Ish Smith,Ish Smith_1988-07-05
520,0.345,4.1,1.4,7.8,0.2,3.7,0.426,12.9,5.5,0.822,...,100.0,35.9,0.7,2.8,17.5,1.6,3.5,4.3,Kay Felder,Kay Felder_1995-03-29
521,0.336,3.1,1.0,2.3,0.2,3.0,0.429,8.8,3.8,0.684,...,85.0,24.7,1.0,2.1,10.8,0.9,1.8,4.0,Bryce Dejean-Jones,Bryce Dejean-Jones_1992-08-21
522,0.255,1.3,0.3,1.9,0.9,4.9,0.491,8.2,4.0,0.745,...,39.0,31.1,2.6,2.4,11.9,1.0,2.2,7.4,Michael Kidd-Gilchrist,Michael Kidd-Gilchrist_1993-09-26'
523,0.500,0.1,0.1,1.0,0.7,5.2,0.525,7.2,3.8,0.606,...,42.0,18.7,2.1,2.1,9.8,0.6,1.6,7.3,Thomas Robinson,Thomas Robinson_1991-03-17
524,0.403,5.2,2.1,2.5,0.2,2.5,0.444,12.0,5.3,0.722,...,90.0,30.8,0.5,2.3,15.7,0.9,2.1,3.1,Darius Johnson-Odom,Darius Johnson-Odom_1989-09-28
525,0.386,2.6,1.0,4.5,0.1,2.7,0.426,7.7,3.3,0.805,...,102.0,26.8,0.6,1.5,10.2,1.6,1.5,3.3,Fred VanVleet,Fred VanVleet_1994-02-25
526,NaN,0.0,0.0,0.9,2.2,3.9,0.593,5.6,3.3,0.508,...,70.0,24.5,2.4,2.3,8.0,1.1,1.2,6.2,Willie Cauley-Stein,Willie Cauley-Stein_1993-08-18
527,NaN,0.0,0.0,0.3,2.4,4.4,0.627,6.3,4.0,0.528,...,57.0,24.6,2.6,1.8,9.7,0.8,1.8,7.0,Bernard James,Bernard James_1985-02-07
528,NaN,0.0,0.0,0.8,1.5,4.9,0.599,7.5,4.5,0.653,...,38.0,30.1,3.1,2.6,13.0,0.7,1.7,8.0,Bam Adebayo,Bam Adebayo_1997-07-18
529,0.338,2.9,1.0,2.9,0.2,2.5,0.415,10.0,4.1,0.726,...,103.0,27.6,0.9,1.6,12.5,1.3,1.7,3.4,Devyn Marble,Devyn Marble_1992-09-21
530,0.362,3.8,1.4,1.9,0.7,4.5,0.411,8.7,3.6,0.657,...,91.0,28.6,2.6,2.4,10.7,0.8,1.8,7.1,Dorian Finney-Smith,Dorian Finney-Smith_1993-05-04
531,0.205,0.5,0.1,1.5,0.9,4.1,0.496,6.9,3.4,0.697,...,31.0,27.0,2.1,2.4,10.2,0.9,1.4,6.3,Rondae Hollis-Jefferson,Rondae Hollis-Jefferson_1995-01-03
532,0.340,3.7,1.3,1.3,0.2,2.9,0.455,9.9,4.5,0.818,...,96.0,30.0,0.9,1.3,13.9,0.9,1.3,3.8,Sheldon Mac,Sheldon Mac_1992-12-21
533,0.399,5.0,2.0,4.6,0.1,2.6,0.432,10.8,4.6,0.830,...,137.0,32.8,0.6,1.7,14.5,0.8,2.3,3.2,Yogi Ferrell,Yogi Ferrell_1993-05-09
534,0.329,2.9,0.9,2.2,0.2,2.9,0.433,10.1,4.4,0.749,...,129.0,30.9,1.5,2.4,13.3,0.9,1.7,4.5,Marcus Georges-Hunt,Marcus Georges-Hunt_1994-03-28'
535,0.294,0.7,0.2,0.8,2.0,6.6,0.477,8.2,3.9,0.624,...,24.0,26.2,2.2,3.0,10.5,0.5,2.1,8.7,Stephen Zimmerman,Stephen Zimmerman_1996-09-09
536,0.331,6.7,2.2,3.7,0.2,1.8,0.415,13.4,5.6,0.806,...,56.0,32.7,0.4,1.6,16.4,2.0,2.9,2.2,Patty Mills,Patty Mills_1988-08-11
537,0.000,0.0,0.0,0.3,1.1,3.0,0.638,5.7,3.6,0.559,...,2.0,20.3,1.7,2.1,8.8,0.5,1.5,4.7,Byron Mullens,Byron Mullens_1989-02-14
538,0.000,0.1,0.0,0.8,1.0,4.8,0.580,8.4,4.8,0.764,...,120.0,30.2,2.7,3.1,12.6,0.5,1.8,7.5,Jeff Ayres,Jeff Ayres_1987-04-29
539,0.339,6.9,2.3,1.5,0.4,4.8,0.415,12.7,5.3,0.752,...,60.0,33.0,1.3,2.2,15.8,1.9,1.6,6.1,Kentavious Caldwell-Pope,Kentavious Caldwell-Pope_1993-02-18
540,0.357,0.1,0.0,0.3,1.4,2.8,0.589,3.0,1.8,0.631,...,99.0,17.6,2.1,2.1,4.5,0.3,0.7,4.9,Michael Carter-Williams,Michael Carter-Williams_1991-10-10
541,0.375,1.4,0.5,5.0,0.8,7.0,0.452,9.4,4.3,0.736,...,70.0,31.6,1.7,1.9,12.2,1.8,2.6,8.7,Kyle Anderson,Kyle Anderson_1993-09-20
542,0.250,0.2,0.1,1.1,2.3,4.3,0.566,6.6,3.7,0.813,...,39.0,21.1,2.4,2.9,10.3,0.5,1.4,6.7,Karl-Anthony Towns,Karl-Anthony Towns_1995-11-15

In [223]:
overlap = overlap.sort_values('season', ascending=False).drop_duplicates('unique_id',keep='first').sort_index()

In [224]:
# Merge two dataframes to get open date for all jobs
nba_converts_full = pd.merge(ncaa_nba_converts, overlap[['pob','college','height',
                                                         'high_school','pos','season','tenure',
                                                         'weight','unique_id', 'dob', 'link', 'name_dob', 'zodiac']], on='unique_id', how="left")

In [225]:
nba_converts_full.head()

,3P%,3PA,3PM,AST,BLK,DEF,FG%,FGA,FGM,FT%,...,height,high_school,pos,season,tenure,weight,dob,link,name_dob,zodiac
0,0.324,2.7,0.9,0.9,0.7,3.8,0.455,10.2,4.7,0.761,...,81,St. Andrew's School,F,2016.0,4.0,235,1995-03-29,/player/Ben-Bentil/Summary/80300,Ben Bentil_19950329,Aries
1,0.265,1.4,0.4,5.2,0.4,4.8,0.425,4.3,1.8,0.617,...,78,Dos Pueblos High School,PG,2011.0,8.0,200,1988-12-07,/player/Julyan-Stone/Summary/8270,Julyan Stone_19881207,Sagittarius
2,0.412,5.4,2.2,7.6,0.8,5.1,0.551,9.5,5.3,0.673,...,78,Chino Hills High School,PG,2017.0,2.0,190,1997-10-27,/player/Lonzo-Ball/Summary/59501,Lonzo Ball_19971027,Scorpio
3,0.359,4.7,1.7,1.7,0.2,2.3,0.377,6.2,2.3,0.733,...,77,The Oakridge School,G,2013.0,8.0,225,1990-02-14,/player/Chris-Babb/Summary/3969,Chris Babb_19900214,Aquarius
4,0.071,0.2,0.0,1.2,3.4,6.1,0.518,10.8,5.6,0.669,...,80,Grace Preparatory Academy,PF,2015.0,4.0,235,1994-07-09,/player/Jordan-Mickey/Summary/28236,Jordan Mickey_19940709,Cancer

In [226]:
nba_converts_full['drafted'] = 1

In [227]:
nba_converts_full.head()

,3P%,3PA,3PM,AST,BLK,DEF,FG%,FGA,FGM,FT%,...,high_school,pos,season,tenure,weight,dob,link,name_dob,zodiac,drafted
0,0.324,2.7,0.9,0.9,0.7,3.8,0.455,10.2,4.7,0.761,...,St. Andrew's School,F,2016.0,4.0,235,1995-03-29,/player/Ben-Bentil/Summary/80300,Ben Bentil_19950329,Aries,1
1,0.265,1.4,0.4,5.2,0.4,4.8,0.425,4.3,1.8,0.617,...,Dos Pueblos High School,PG,2011.0,8.0,200,1988-12-07,/player/Julyan-Stone/Summary/8270,Julyan Stone_19881207,Sagittarius,1
2,0.412,5.4,2.2,7.6,0.8,5.1,0.551,9.5,5.3,0.673,...,Chino Hills High School,PG,2017.0,2.0,190,1997-10-27,/player/Lonzo-Ball/Summary/59501,Lonzo Ball_19971027,Scorpio,1
3,0.359,4.7,1.7,1.7,0.2,2.3,0.377,6.2,2.3,0.733,...,The Oakridge School,G,2013.0,8.0,225,1990-02-14,/player/Chris-Babb/Summary/3969,Chris Babb_19900214,Aquarius,1
4,0.071,0.2,0.0,1.2,3.4,6.1,0.518,10.8,5.6,0.669,...,Grace Preparatory Academy,PF,2015.0,4.0,235,1994-07-09,/player/Jordan-Mickey/Summary/28236,Jordan Mickey_19940709,Cancer,1

In [230]:
final_set = pd.concat([undrafted, nba_converts_full])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  if __name__ == '__main__':

In [231]:
final_set.head()

,3P%,3PA,3PM,AST,BLK,DEF,FG%,FGA,FGM,FT%,...,link,name,name_dob,pob,pos,season,tenure,unique_id,weight,zodiac
2,0.360,5.83,2.10,1.80,0.43,3.27,0.398,8.77,3.49,0.700,...,/player/Ty-Abbott/Summary/6680,Ty Abbott,Ty Abbott_19880819,Phoenix (AZ),G,2011.0,8.0,Ty Abbott_1988-08-19,209,Leo
4,0.324,0.73,0.24,0.55,0.00,0.33,0.448,1.31,0.59,0.364,...,/player/Mustafa-Abdul-Hamid/Summary/6888,Mustafa Abdul-Hamid,Mustafa Abdul-Hamid_19880602,St. Louis (MO),G,2010.0,6.0,Mustafa Abdul-Hamid_1988-06-02,195,Gemini
5,0.333,0.21,0.07,0.07,0.00,0.21,0.182,0.79,0.14,0.000,...,/player/Larney-Abdush-Shakur/Summary/14491,Larney Abdush-Shakur,Larney Abdush-Shakur_19400101,Austell (GA),PG,2009.0,4.0,Larney Abdush-Shakur_1940-01-01,153,Capricorn
8,0.333,0.50,0.17,0.00,0.00,0.17,0.333,0.50,0.17,0.500,...,/player/Toso-Abedamowo/Summary/20808,Toso Abedamowo,Toso Abedamowo_19400101,Lincoln (RI),G,2011.0,6.0,Toso Abedamowo_1940-01-01,190,Capricorn
11,0.000,0.00,0.00,0.28,1.10,2.17,0.497,2.57,1.28,0.468,...,/player/Onyekautukwu-Abiakam/Summary/15292,Onyekautukwu Abiakam,Onyekautukwu Abiakam_19870304,Lagos,F,2011.0,7.0,Onyekautukwu Abiakam_1987-03-04,195,Pisces

In [55]:
final_set.to_csv("NCAA_Conversions_Final.csv")

In [232]:
copy = final_set

In [155]:
# Get list of birth cities from dataframe
cities = copy['pob'].unique()

# Use googlemaps API to get lat and lng for birth city
gmaps = googlemaps.Client(key=gkey)

# for each row's birth city get the latitude and longitude and add it to the dataframe
coordinates = {}
for location in cities:
    city = gmaps.geocode(location)
    try:
        lat = city[0]['geometry']['location']['lat']
    except:
        pass
    try:
        long = city[0]['geometry']['location']['lng']
    except:
        pass
    coordinates[location] = {'lat': lat, 'long':long}

In [101]:
city_data = pd.DataFrame.from_dict(coordinates, orient='index')

In [102]:
city_data = city_data.reset_index()

In [156]:
city_data.columns = ['pob','lat', 'long']

In [233]:
final_copy = pd.merge(copy, city_data, how='left', on="pob")

In [234]:
final_copy.head()

,3P%,3PA,3PM,AST,BLK,DEF,FG%,FGA,FGM,FT%,...,name_dob,pob,pos,season,tenure,unique_id,weight,zodiac,lat,long
0,0.360,5.83,2.10,1.80,0.43,3.27,0.398,8.77,3.49,0.700,...,Ty Abbott_19880819,Phoenix (AZ),G,2011.0,8.0,Ty Abbott_1988-08-19,209,Leo,33.448377,-112.074037
1,0.324,0.73,0.24,0.55,0.00,0.33,0.448,1.31,0.59,0.364,...,Mustafa Abdul-Hamid_19880602,St. Louis (MO),G,2010.0,6.0,Mustafa Abdul-Hamid_1988-06-02,195,Gemini,38.627003,-90.199404
2,0.333,0.21,0.07,0.07,0.00,0.21,0.182,0.79,0.14,0.000,...,Larney Abdush-Shakur_19400101,Austell (GA),PG,2009.0,4.0,Larney Abdush-Shakur_1940-01-01,153,Capricorn,33.812606,-84.634378
3,0.333,0.50,0.17,0.00,0.00,0.17,0.333,0.50,0.17,0.500,...,Toso Abedamowo_19400101,Lincoln (RI),G,2011.0,6.0,Toso Abedamowo_1940-01-01,190,Capricorn,41.911012,-71.441810
4,0.000,0.00,0.00,0.28,1.10,2.17,0.497,2.57,1.28,0.468,...,Onyekautukwu Abiakam_19870304,Lagos,F,2011.0,7.0,Onyekautukwu Abiakam_1987-03-04,195,Pisces,6.524379,3.379206

In [235]:
final_copy.to_csv("NCAA_Conversions_031319.csv")