In [1]:
# Import Dependencies
import pandas as pd

In [4]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data
frame_shop = [{"Frame":"Ornate", "Price": 15, "Sales": 100}, 
              {"Frame": "Classical", "Price": 12.5, "Sales": 200}, 
             {"Frame": "Modern", "Price": 10, "Sales": 300}]
frame_inventory = pd.DataFrame(frame_shop)
frame_inventory

       Frame  Price  Sales
0     Ornate   15.0    100
1  Classical   12.5    200
2     Modern   10.0    300

# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data

In [7]:
art_gallery = pd.DataFrame(
              {"Painting": ["Mona Lisa", "Starry Night", "Girl with the Pearl Earring"], 
              "Price": [100, 180, 500], 
              "Popularity": ["Super popular", "Popular", "Very Popular"]})

In [8]:
art_gallery

                      Painting  Price     Popularity
0                    Mona Lisa    100  Super popular
1                 Starry Night    180        Popular
2  Girl with the Pearl Earring    500   Very Popular