In [1]:
 # Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [5]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [28]:
# Calculate the total number of schools
schools_total = school_data_complete["school_name"].nunique()

In [27]:
# Calculate the total number of students
students_total = school_data_complete["Student ID"].nunique()

In [43]:
# Calculate the total budget
school_groups = school_data_complete.drop_duplicates("budget")
total_budget = school_groups["budget"].sum()

In [11]:
# Calculate the average math score
avg_math_score = school_data_complete["math_score"].mean()

In [12]:
# Calculate the average reading score
avg_reading_score = school_data_complete["reading_score"].mean()
overall_avg_score = (avg_math_score + avg_reading_score)/2

In [20]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_pass_students = school_data_complete.loc[school_data_complete["math_score"] > 69]
math_pass_percentage = (math_pass_students["Student ID"].count()/students_total)*100

In [32]:
# Calculate the percentage of students with a passing reading score (70 or greater)
read_pass_students = school_data_complete.loc[school_data_complete["reading_score"]> 69]
read_pass_percentage = (read_pass_students["Student ID"].count()/students_total)*100

In [33]:
district_summary = pd.DataFrame(
                        {"Total Schools": [schools_total], 
                         "Total Students": [students_total], 
                         "Average Math Score": [avg_math_score],
                         "Average Reading Score": [avg_reading_score],
                         "% Passing Math": [math_pass_percentage],
                         "% Passing Reading": [read_pass_percentage],
                         "% Overall Passing Rate": [overall_avg_score]
                        }
)

In [34]:
district_summary

,Total Schools,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,78.985371,81.87784,74.980853,85.805463,80.431606

In [36]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [41]:
school_names = school_data_complete["school_name"].unique()
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [42]:
school_types = school_data_complete["type"].unique()
school_types

array(['District', 'Charter'], dtype=object)

In [45]:
per_student_budget = total_budget/students_total
per_student_budget

629.2935409752362

In [ ]:
school_summary = school_data_complete.groupby(by="school_name")
type(school_summary)

In [ ]:
school_types = school_summary["type"].unique()

In [ ]:
school_stu_totals = school_summary["Student ID"].nunique()

In [ ]:
school_budget = school_summary["budget"].unique()

In [ ]:
school_psb = school_budget/school_stu_totals

In [ ]:
school_math_avg = school_summary["math_score"].mean()

In [ ]:
school_reading_avg = school_summary["reading_score"].mean()

In [ ]:
school_pass_rate = (school_math_pass+school_read_pass)/2

In [92]:
school_summaries = pd.DataFrame(
                        {"School Type": [school_types],
                         "Total Students": [school_stu_totals],
                         "Total School Budget": [school_budget],
                         "Per Student Budget": [school_psb],
                         "Average Math Score": [school_math_avg],
                         "Average Reading Score":[school_reading_avg],  
                        }, 
                        index = school_names
)

In [93]:
school_summaries.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
Huang High School,school_name Bailey High School [District...,school_name Bailey High School 4976 Cabr...,school_name Bailey High School [3124928]...,school_name Bailey High School [628.0] C...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...
Figueroa High School,school_name Bailey High School [District...,school_name Bailey High School 4976 Cabr...,school_name Bailey High School [3124928]...,school_name Bailey High School [628.0] C...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...
Shelton High School,school_name Bailey High School [District...,school_name Bailey High School 4976 Cabr...,school_name Bailey High School [3124928]...,school_name Bailey High School [628.0] C...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...
Hernandez High School,school_name Bailey High School [District...,school_name Bailey High School 4976 Cabr...,school_name Bailey High School [3124928]...,school_name Bailey High School [628.0] C...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...
Griffin High School,school_name Bailey High School [District...,school_name Bailey High School 4976 Cabr...,school_name Bailey High School [3124928]...,school_name Bailey High School [628.0] C...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...